#grad {
  background-image: linear-gradient(to bottom right, black, gray);
}

/*Min meny*/
ul{
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
}
li{
  display: inline-block;
}
li a {
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 15px;
  font-family:sans-serif;
}
li a:hover{
  background-color: rgba(255, 97, 0);
}
/*rubrik*/
.modern{
  color: white;
  text-align: center;
  margin: inherit;
  font-size: 50px;
}
.family{
  color:#ff751a;
  text-align: center;
  margin-top: auto;
  padding: 0;
  font-size: 50px;
}

/*bild*/

img{
  display:block;
  margin: auto;
  padding-top: 30px;
}

/*mindre rubrik och handling*/

.handling{
  text-align: center;
  color:#ff751a;
  background-color: inherit;
  font-size: 40px
}
p{
  color: #ffffff;
  background-color: inherit;
  text-align: center;
  padding: 14px 100px;
  font-size: 20px;
}

/*mindre rubrik och min rollista*/
.roll{
  text-decoration: underline;
  font-size: 40px;
  color: #ff751a;
}
.ett{
  width: 24vw;
  float: left;
}
.tva{
  width: 24vw;
  float: left;
  padding-bottom: 30px;
}

/*mindre rubrik följd utav information om respektive säsonger*/

.sasong{
  text-align: center;
  font-size: 50px;
  color:#ff751a;
}
.sasong1{
  text-align: center;
  font-size: 40px;
  color:#ff751a;
  text-decoration: underline;
}
.sasong2{
  text-align: center;
  font-size: 40px;
  color:#ff751a;
  text-decoration: underline;
}
.sasong3{
  text-align: center;
  font-size: 40px;
  color:#ff751a;
  text-decoration: underline;
}
.sasong4{
  text-align: center;
  font-size: 40px;
  color:#ff751a;
  text-decoration: underline;
}

/*länk upp till toppen*/

.toppen{
  color:white;
}
